{% extends "main/base.html" %}
{% load static %}


{% block content %}
    <div class="content">

    <div class="filters">
        <div class="catalog-dropdown">
            <button>Фильтры</button>
            <form class="dropdown-menu" method="get" action="">
                <div class="form-check">
                    <input type="checkbox" name="on_sale" id="onSale" value="on">
                    <label for="onSale">Товары по акции</label>
                </div>
                <p>Сортировать:</p>
                <div class="form-check">
                    <input type="radio" name="order_by" id="defaultOrder" value="default" checked>
                    <label for="defaultOrder">По умолчанию</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="order_by" id="priceAsc" value="price">
                    <label for="priceAsc">От дешевых к дорогим</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="order_by" id="priceDesc" value="-price">
                    <label for="priceDesc">От дорогих к дешевым</label>
                </div>
                <button type="submit">Применить</button>
            </form>
        </div>
    </div>

    <div class="product-grid">


        {% for product in goods %}
            <div class="card">
                <img src="{% static product.image %}" alt="Кроссовки мужские Outventure Discovery" class="product-image">
                <div class="card-body">
                    <a href="#"><p class="card-title">{{ product.name }}</p></a>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="product_id">id: 02265</p>
                    <div class="item-row">
                        {% comment %} <p><s>3 999 ₽</s> ₽</p> {% endcomment %}
                        <p><strong>{{ product.price }}</strong></p>
                        {% comment %} <span class="badge">Скидка 10%</span> {% endcomment %}
                        <a href="#" class="btn add-to-cart">В корзину</a>
                    </div>
                </div>
            </div>
        {% endfor %}



    </div>

    <div class="pagination">
        <a href="#" class="page-link disabled">Previous</a>
        <a href="#" class="page-link">1</a>
        <a href="#" class="page-link">2</a>
        <a href="#" class="page-link">3</a>
        <a href="#" class="page-link">Next</a>
    </div>

</div>
{% endblock content %}
    

{% block footer %}
    <footer>
        <p>Copyright &copy; rzh_exe 2025</p>
    </footer>
{% endblock footer %}
    