/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Lato:wght@400;500&display=swap');

/* Цвета */
:root {
    --primary-color: #2563eb;       
    --primary-hover: #1d4ed8;
    --secondary-color: #16a34a;     

    --bg-light: #f9fafb;            
    --card-bg: #ffffff;             
    --dark-gray: #374151;           
    --text-light: #111827;          

    --border-color: #e5e7eb;
    --shadow-light: rgba(0,0,0,0.1);
}
