{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="content">
    <div class="card-wrapper">
        <div class="card" style="max-width: 500px; width: 100%;">
            <div class="card-body">
                <h2 class="card-title" style="text-align:center;">Авторизация</h2>
                <form>
                    <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <input type="text" id="username" class="form-control" placeholder="Введите ваше имя пользователя" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" class="form-control" placeholder="Введите ваш пароль" required>
                    </div>
                    <button type="submit" class="btn add-to-cart w-100">Войти</button>
                </form>

                <div style="margin-top: 1rem; text-align:center;">
                    <a href="#">Забыли пароль?</a> | 
                    <a href="{% url 'users:registration' %}">Создать аккаунт</a>
                </div>

                <hr style="margin:1.5rem 0;">

                <div style="text-align:center;">
                    <p>Или авторизуйтесь через:</p>
                    <a href="#">
                        <img class="mx-1" src="{% static 'deps/images/icons/google.svg' %}" alt="Google" width="16" height="16">Google
                    </a>
                    <a href="#"">
                        <img class="mx-1" src="{% static 'deps/images/icons/facebook.svg' %}" alt="Facebook" width="16" height="16">Facebook
                    </a>
                    <a href="#">
                        <img class="mx-1" src="{% static 'deps/images/icons/github.svg' %}" alt="GitHub" width="16" height="16">GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
