{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="content">
    <div class="card-wrapper">
        <div class="card" style="max-width: 700px; width: 100%;">
            <div class="card-body">
                <h2 class="card-title" style="text-align:center;">Регистрация</h2>

                <form action={% url "user:registration" %} method="post" >

                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_first_name">Имя*</label>
                        <input type="text" id="id_first_name" class="form-control" placeholder="Введите ваше имя"
                        value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                        name="first_name"
                        required>
                        {% if form.first_name.errors %}
                        <div class="error-message">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="id_last_name">Фамилия*</label>
                        <input type="text" id="id_last_name" class="form-control" placeholder="Введите вашу фамилию"
                            value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                            name="last_name"
                            required>
                        {% if form.last_name.errors %}
                        <div class="error-message">{{ form.last_name.errors }}</div>
                        {% endif %}                            
                    </div>

                    <div class="form-group">
                        <label for="id_username">Имя пользователя*</label>
                        <input type="text" id="id_username" class="form-control" placeholder="Введите имя пользователя"
                            value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                            name="username"
                            required>
                        {% if form.username.errors %}
                        <div class="error-message">{{ form.username.errors }}</div>
                        {% endif %}    
                    </div>

                    <div class="form-group">
                        <label for="id_email">Email*</label>
                        <input type="email" id="id_email" class="form-control" placeholder="youremail@example.com"
                            value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                            name="email"
                            required>
                        {% if form.email.errors %}
                        <div class="error-message">{{ form.email.errors }}</div>
                        {% endif %}    
                    </div>

                <div class="form-group">
                    <label for="id_password1">Пароль*</label>
                    <input type="password" id="id_password1" class="form-control" placeholder="Введите пароль"
                        name="password1"
                        required>
                    {% if form.password1.errors %}
                        <div class="error-message">{{ form.password1.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_password2">Подтверждение пароля*</label>
                    <input type="password" id="id_password2" class="form-control" placeholder="Подтвердите пароль"
                        name="password2"
                        required>
                    {% if form.password2.errors %}
                        <div class="error-message">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>


                    <button type="submit" class="btn add-to-cart">Зарегистрироваться</button>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
